@font-face {
    font-family: "Evolventa";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Evolventa/Evolventa-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Chocolate";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Chocolate/chocolatecyr_lat.otf") format("opentype");
}

html {
    scroll-behavior: smooth;
}

body {
    color: #2e2e2e;
    background-color: #ffffff;
    margin: 0;
    font-family: "Evolventa", sans-serif;
    font-size: 16px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-size: 32px;
    margin: 0 0 20px 0;
    padding: 0;
}

.page-header {
    background-color: #9681d9;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-logo__title {
    color: white;
    margin: 0 0 5px 0;
    font-family: "Chocolate", sans-serif;
    font-size: 42px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.site-logo__subtitle {
    color: white;
    margin: 0;
    font-size: 18px;
}

.page-navigation {
    color: white;
    display: flex;
    justify-content: space-between;
}

.page-navigation__link {
    color: inherit;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 25px;
}

.page-navigation__link:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
    text-decoration: underline;
}

.page-header__contacts {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.page-header__contacts-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page-header__contacts-icon {

}

.page-header__mobile-number {
    color: inherit;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.page-header__syllabus {
    color: inherit;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.hero-block {
    padding-bottom: 40px;
}

.hero-block__title {
    margin: 0;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.hero-block__wrapper {
    display: grid;
    grid-template-areas:
    "hero-banner hero-description"
    "hero-banner enlist-button";
    justify-content: center;
    column-gap: 50px;
}

.hero-block__description {
    grid-area: hero-description;
    margin: 0;
    font-size: 20px;
    align-self: center;
}

.enlist-button {
    grid-area: enlist-button;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
    font-size: 20px;
    padding: 15px;
}

.hero-block__animals {
    grid-area: hero-banner;
    display: block;
    width: 500px;
    height: 300px;
}

.services-block {
    padding-bottom: 40px;
}

.service-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.service-list__element {
    background-color: rgba(86, 71, 135, 0.07);
    border: 1px solid rgba(86, 71, 135, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.service-list__title-wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(86, 71, 135, 0.15);
    gap: 10px;
}

.service-list__title-image {
    display: block;
}

.service-list__element-title {
    margin: 0;
}

.service-list__element-description {
    font-size: 20px;
    padding: 10px;
    margin: 0;
    flex-grow: 1;
}

.contacts-block {
    padding-bottom: 40px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-list__item {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-list__item-icon {
}

.contact-list__address-text {
    color: inherit;
    padding: 0;
    margin: 0;
}

.contact-list__syllabus-text {
    color: inherit;
    padding: 0;
    margin: 0;
}

.contact-list__mobile-number {
    color: inherit;
    text-decoration: none;
}

.contact-list__email-text {
    color: inherit;
}

.contact-list__vk-address {
    color: inherit;
    text-decoration: none;
}

.page-footer {
    background-color: #9681d9;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.legal-info {
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.legal-info__link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

.legal-info__link:hover {
    color: #1e1e1e;
    transition: all ease-in-out 0.2s;
}

.modal {
    display: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-enlist {
    background-color: #ffffff;
    position: relative;
    margin: auto;
    padding: 30px;
    width: 25%;
    /*overflow: auto;*/
}

.modal-close-button {
    cursor: pointer;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    border: none;
}

.close-icon {
    display: block;
}

.close-icon:hover {
    fill: rgba(0, 0, 0, 0.1);
}

.modal-enlist__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.modal-enlist__title {
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.modal-enlist__subtitle {
    padding: 20px 0 20px 0;
    margin: 0;
}

.enlist-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.enlist-form__input {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.enlist-form__text-area {
    outline: none;
    font-size: 16px;
    padding: 10px;
    max-height: 150px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.enlist-form__persona-approval {
    padding: 0;
    margin: 0 0 5px 0;
}

.invisible {
    display: none;
}

.send-request-ok {
    padding: 0;
    margin: 0;
    color: green;
    font-size: 12px;
}

.send-request-error {
    padding: 0;
    margin: 0;
    color: red;
    font-size: 14px;
}

.valid {
    border: 2px solid rgba(97,255,6,0.77);
}

.invalid {
    border: 2px solid red;
}

.enlist-form__link {
    color: #a1a1c1;
    text-decoration: none;
}

.enlist-form__send-button {
    color: white;
    font-size: 14px;
    align-self: flex-start;
    padding: 10px;
    border: none;
    background-color: black;
}

.enlist-form__send-button:hover {
    background-color: #2e2e2e;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

@media (max-width: 768px) {
    .section-title {
        text-align: center;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-header {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .page-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "site-logo contacts"
        "navigation navigation";
    }

    .hero-block__description {
        word-break: break-word;
    }

    .site-logo {
        grid-area: site-logo;
    }

    .page-navigation {
        grid-area: navigation;
    }

    .page-header__contacts {
        grid-area: contacts;
        justify-self: center;
    }

    .hero-block {
        padding-bottom: 40px;
    }

    .hero-block__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .service-list {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }

    .contacts-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 25px;
    }

    .contacts-list {
        font-size: 16px;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 25px;
    }

    .legal-info {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .modal-enlist {
        width: 70%;
    }

}

@media (max-width: 480px) {
    .section-title {
        text-align: center;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-navigation {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .hero-block__title {
        font-size: 24px;
    }

    .hero-block__animals {
        width: 300px;
        height: 170px;
    }

    .hero-block__description {
        font-size: 19px;
    }

    .service-list {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
        row-gap: 20px;
    }

    .map {
        display: none;
    }

    .contacts-list {
        font-size: 18px;
        margin: 0;
        padding: 0 10px 0 10px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .legal-info__link {
        text-align: center;
    }

    .modal-enlist {
        width: 100vw;
        height: 100vh;
    }
}