@font-face {
    font-family: "Evolventa";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Evolventa/Evolventa-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Chocolate";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Chocolate/chocolatecyr_lat.otf") format("opentype");
}

body {
    margin: 0;
    font-family: "Evolventa", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "title title"
    "left right";
    column-gap: 40px;
}

.page-title {
    font-size: 42px;
    margin: 0;
    padding: 50px 0 50px 0;
    text-align: center;
    grid-area: title;
}

.zoodomik-card {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    grid-area: left;
    gap: 15px;
}

.card__title {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.card__address {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.card__photo {
    border-radius: 10px;
    display: block;
}

.big-dog-card {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    grid-area: right;
    gap: 15px;
}

@media (max-width: 1199px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .zoodomik-card {
        align-items: center;
        padding: 0 25px 0 25px;
    }

    .big-dog-card {
        align-items: center;
        padding: 0 25px 0 25px;
    }
}

@media (max-width: 460px) {
    .page-title {
        font-size: 28px;
        padding: 25px 0 25px 0;
    }

    .card__title {
        font-size: 24px;
    }

    .card__address {
        font-size: 16px;
    }

    .card__photo {
        width: 400px;
        height: 250px;
    }
}